# Imersão Python - Aula 3
O assunto desta aula foi como manipular e criar gráficos com os dados de um DataFrame

Grande parte do que é feito nessa foi feito na primeira aula, mas agora está tudo sendo feito usando o python

Inicialmente devemos importar a biblioteca pandas que será usada para realizar essa análise dos dados

In [149]:
import pandas as pd
import plotly.express as px

Após importar as bibliotecas, criamos um DataFrame para cada uma das páginas da planilha que está sendo usada.

In [150]:
df_principal = pd.read_excel("Aula 2 - Imersão Python - Tabela de ações.xlsx", sheet_name="Principal")
df_principal

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume,Variação %,Valor inicial (R$),Quantidade de ações,Variação $,Resultado,Nome da empresa,Segmento,Idade,Cat idade
0,USIM5,2024-01-26,9.50,5.20,11.76,2.26,2.26,15.97,9.18,9.56,"319,16 M",0.05,9.03,515117391,241889725.40,Subiu,Usiminas,Siderurgia,59,Entre 100 e 50
1,CMIN3,2024-01-26,6.82,2.40,2.40,-12.11,-12.11,50.56,6.66,6.86,"32,65 M",0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,77,Entre 100 e 50
2,PETR3,2024-01-26,41.96,2.19,7.73,7.64,7.64,77.55,40.81,42.34,"436,69 M",0.02,41.06,2379877655,2140059394.00,Subiu,Petrobras,Petróleo e Gás,68,Entre 100 e 50
3,SUZB3,2024-01-26,52.91,2.04,2.14,-4.89,-4.89,18.85,51.89,53.17,"162,55 M",0.02,51.85,683452836,722946282.70,Subiu,Suzano,Papel e Celulose,96,Entre 100 e 50
4,CPFE3,2024-01-26,37.10,2.03,2.49,-3.66,-3.66,20.70,36.37,37.32,"73,42 M",0.02,36.36,187732538,138573955.10,Subiu,CPFL Energia,Energia,109,Maior que 100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-9.47,-13.98,-13.98,-32.72,10.70,11.08,"38,19 M",-0.02,10.98,533990587,-143635530.60,Desceu,Carrefour Brasil,Varejo,47,Menor que 50
77,BHIA3,2024-01-26,8.70,-2.46,-6.95,-23.55,-23.55,-85.74,8.67,8.95,"27,54 M",-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,64,Entre 100 e 50
78,RENT3,2024-01-26,56.24,-3.63,-6.41,-11.57,-11.57,-2.77,56.04,58.90,"624,74 M",-0.04,58.36,853202347,-1807432634.00,Desceu,Localiza,Aluguel de Carros,48,Menor que 50
79,CVCB3,2024-01-26,3.07,-4.36,-5.54,-12.29,-12.29,-36.83,3.05,3.23,"101,46 M",-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,49,Menor que 50
80,GOLL4,2024-01-26,5.92,-8.07,-15.91,-34.00,-34.00,-25.44,5.51,6.02,"154,36 M",-0.08,6.44,198184909,-102993202.60,Desceu,GOL,Transporte Aéreo,20,Menor que 50

In [151]:
df_total_acoes = pd.read_excel("Aula 2 - Imersão Python - Tabela de ações.xlsx", sheet_name="Total_de_acoes")
df_total_acoes

                      Código  Qtde. Teórica
0                      RRRP3   235665566.00
1                      ALOS3   532616595.00
2                      ALPA4   176733968.00
3                      ABEV3  4394245879.00
4                      ARZZ3    62305891.00
..                       ...            ...
84                     VBBR3  1114412532.00
85                     WEGE3  1481593024.00
86                     YDUQ3   289347914.00
87  Quantidade Teórica Total 96372098181.00
88                   Redutor    17047850.79

[89 rows x 2 columns]

In [152]:
df_ticker = pd.read_excel("Aula 2 - Imersão Python - Tabela de ações.xlsx", sheet_name="Ticker")
df_ticker

    Ticker            Nome
0    MGLU3  Magazine Luiza
1    HAPV3         Hapvida
2    PETR4       Petrobras
3    B3SA3              B3
4    USIM5        Usiminas
..     ...             ...
530  TKNO3           Tekno
531  COCE6          Coelce
532  MGEL3         Mangels
533  CTSA8      Santanense
534  MMAQ4   Minasmáquinas

[535 rows x 2 columns]

In [153]:
df_chatgpt = pd.read_excel("Aula 2 - Imersão Python - Tabela de ações.xlsx", sheet_name="ChatGPT")
df_chatgpt

          Empresa           Segmento  Idade
0        Usiminas         Siderurgia     59
1   CSN Mineração          Mineração     77
2       Petrobras     Petróleo e Gás     68
3          Suzano   Papel e Celulose     96
4    CPFL Energia            Energia    109
..            ...                ...    ...
74    Casas Bahia             Varejo     64
75       Localiza  Aluguel de Carros     48
76            CVC            Turismo     49
77            GOL   Transporte Aéreo     20
78            GOL   Transporte Aéreo     20

[79 rows x 3 columns]

Porém só serão usadas as primeiras 4 colunas do DataFrame principal, com isso devemos descartar todas as outras.

Para fazer isso usamos a função **.copy()** que faz uma cópia das colunas que queremos e atribuimos isso ao DataFrame que está sendo usado

In [154]:
df_principal = df_principal[['Ativo', 'Data', 'Último (R$)', 'Var. Dia (%)']].copy()
df_principal

    Ativo       Data  Último (R$)  Var. Dia (%)
0   USIM5 2024-01-26         9.50          5.20
1   CMIN3 2024-01-26         6.82          2.40
2   PETR3 2024-01-26        41.96          2.19
3   SUZB3 2024-01-26        52.91          2.04
4   CPFE3 2024-01-26        37.10          2.03
..    ...        ...          ...           ...
76  CRFB3 2024-01-26        10.71         -2.45
77  BHIA3 2024-01-26         8.70         -2.46
78  RENT3 2024-01-26        56.24         -3.63
79  CVCB3 2024-01-26         3.07         -4.36
80  GOLL4 2024-01-26         5.92         -8.07

[81 rows x 4 columns]

Como algumas colunas possuem nomes com caracteres especiais será necessário renomea-las para um padrão que diminua as chances de dar algum erro

Isso é feito usando a função **rename()** que possui o atributo columns onde são inseridos os nomes atuais das colunas seguido por dois pontos (:) e o novo nome da coluna

Além disso foi usado o copy() novamente para não nenhum erro

In [155]:
df_principal = df_principal.rename(columns={'Último (R$)': 'Valor_final', 'Var. Dia (%)': 'Var_dia_pct'}).copy()
df_principal

    Ativo       Data  Valor_final  Var_dia_pct
0   USIM5 2024-01-26         9.50         5.20
1   CMIN3 2024-01-26         6.82         2.40
2   PETR3 2024-01-26        41.96         2.19
3   SUZB3 2024-01-26        52.91         2.04
4   CPFE3 2024-01-26        37.10         2.03
..    ...        ...          ...          ...
76  CRFB3 2024-01-26        10.71        -2.45
77  BHIA3 2024-01-26         8.70        -2.46
78  RENT3 2024-01-26        56.24        -3.63
79  CVCB3 2024-01-26         3.07        -4.36
80  GOLL4 2024-01-26         5.92        -8.07

[81 rows x 4 columns]

## Criando novas colunas

Para criar novas colunas devemos somente colocar o nome do DataFrame e ente entre colchetes o nome dessa nova coluna. Ex: `nome_do_DataFrame['Nome_da_NovaColuna']`

**Var_pct:** A coluna var_pct equivale a porcentagem da coluna Var_dia_pct, por isso atribuimos a Var_pct a coluna Var_dia_pct dividida por 100

**Valor_inicial:** Para está coluna foi usada a fórmula *valor_final/(Variacao_porcentagem + 1)*

In [156]:
df_principal['Var_pct'] = df_principal['Var_dia_pct'] / 100
df_principal['Valor_inicial'] = df_principal['Valor_final'] / (df_principal['Var_pct'] + 1)
df_principal

    Ativo       Data  Valor_final  Var_dia_pct  Var_pct  Valor_inicial
0   USIM5 2024-01-26         9.50         5.20     0.05           9.03
1   CMIN3 2024-01-26         6.82         2.40     0.02           6.66
2   PETR3 2024-01-26        41.96         2.19     0.02          41.06
3   SUZB3 2024-01-26        52.91         2.04     0.02          51.85
4   CPFE3 2024-01-26        37.10         2.03     0.02          36.36
..    ...        ...          ...          ...      ...            ...
76  CRFB3 2024-01-26        10.71        -2.45    -0.02          10.98
77  BHIA3 2024-01-26         8.70        -2.46    -0.02           8.92
78  RENT3 2024-01-26        56.24        -3.63    -0.04          58.36
79  CVCB3 2024-01-26         3.07        -4.36    -0.04           3.21
80  GOLL4 2024-01-26         5.92        -8.07    -0.08           6.44

[81 rows x 6 columns]

### Merge

No python não existe as funções PROCV ou VLOOKUP, então para realizar essas ações é ncessário usar a função **.merge()**

Essa função funciona atribuindo ao DataFrame(esquerada).merge(DataFrame(direita), left_on="Coluna_Esquerda", right_on="Coluna_Direita", how="Letf")

sendo coluna_esquerda a coluna do DataFrame(esquerda) que será usada como base para fazer a correspondencia dos valores

Coluna_direita é a coluna do DataFrame (direita) que é igual a coluna_esquerda pórem não está no DataFrame principal (esquerda)

left significa que tudo isso será atribuido ao DataFrame a esquerda

In [157]:
df_principal = df_principal.merge(df_total_acoes, left_on='Ativo', right_on='Código', how='left')
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Código,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,USIM5,515117391.00
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,CMIN3,1110559345.00
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,PETR3,2379877655.00
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,SUZB3,683452836.00
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,CPFE3,187732538.00
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,CRFB3,533990587.00
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,BHIA3,94843047.00
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,RENT3,853202347.00
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,CVCB3,525582771.00
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,GOLL4,198184909.00

Como essa função junta dois DataFrames, a coluna que foi usada para fazer a correspondencia acaba sendo copiada, com isso devemos usar a função **.drop()** que receve como atributo columns as colunas que serão excluidas

In [158]:
df_principal = df_principal.drop(columns=['Código'])
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391.00
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345.00
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,2379877655.00
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836.00
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538.00
...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587.00
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047.00
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347.00
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771.00
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909.00

Continuamos criando as próximas colunas
- Variação em reais

In [159]:
df_principal['Variacao_rs'] = (df_principal['Valor_final'] - df_principal['Valor_inicial']) * df_principal['Qtde. Teórica']

### Formatando colunas

Como algumas colunas estão em notação cientifica devemos formata-las para o tipo float

In [160]:
pd.options.display.float_format = '{:.2f}'.format

Mas a com isso acabamos formatando a coluna da quantidade teórica para float também, mas essas coluna só possui valores inteiros, e para voltarmos ela int novamente devemos utlizar

In [161]:
df_principal['Qtde. Teórica'] = df_principal['Qtde. Teórica'].astype(int)
df_principal = df_principal.rename(columns={'Qtde. Teórica': 'Qtd_teorica'}).copy()

### Outras funções para criação de colunas

A função apply é utilizada para aplicar outras funções
A função labda serve para aplicar uma função linha a linha

In [162]:
""" 
Outra forma de fazer está função condicional

def resultado(x):
    if x > 0:
        res = "Subiu"
        return res
    elif x < 0:
        res = "Desceu"
        return res
    else:
        res = "Estável"
        return res

df_principal['Resultado'] = df_principal['Variacao_rs'].apply(resultado)
"""

df_principal['Resultado'] = df_principal['Variacao_rs'].apply(lambda x: 'Subiu' if x > 0 else('Desceu' if x < 0 else 'Estável'))
df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_teorica,Variacao_rs,Resultado
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu
...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu

Para terminar de completar o DataFrame fizemos as tabelas:
- Nome
- Segmento
- Idade
- Cat_idade

In [163]:
df_principal = df_principal.merge(df_ticker, left_on="Ativo", right_on="Ticker", how='left')
df_principal = df_principal.drop(columns=['Ticker'])

df_principal = df_principal.merge(df_chatgpt, left_on='Nome', right_on='Empresa', how='left')
df_principal = df_principal.drop(columns=['Empresa'])

df_principal['Cat_idade'] = df_principal['Idade'].apply(lambda x: 'Mais de 100' if x > 100 else('Menos de 50' if x < 50 else 'Entre 100 e 50'))

df_principal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade,Cat_idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,59,Entre 100 e 50
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,77,Entre 100 e 50
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,68,Entre 100 e 50
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,96,Entre 100 e 50
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,109,Mais de 100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,64,Entre 100 e 50
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,48,Menos de 50
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,49,Menos de 50
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte Aéreo,20,Menos de 50
81,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte Aéreo,20,Menos de 50

## Análises da planilha

Inicialmente calculamos os maiores e menores valores da planilha, e após isso fizemos uma média desses valores, foram feitas as médias dos que subiram e dos que desceram para ter uma análise mais correta

In [164]:
maior = df_principal['Variacao_rs'].max() # Função que pega o maior valor

menor = df_principal['Variacao_rs'].min() # Função que pega o menor valor

media = df_principal['Variacao_rs'].mean() # Função que faz a média doa valores

media_subiu = df_principal[df_principal['Resultado'] == 'Subiu']['Variacao_rs'].mean()

media_desceu = df_principal[df_principal['Resultado'] == 'Desceu']['Variacao_rs'].mean()

# Imprimindo os resultados
print(f"Maior\tR$ {maior:,.2f}")
print(f"Menor\tR$ {menor:,.2f}")
print(f"Média\tR$ {media:,.2f}")
print(f"Média de quem subiu\tR$ {media_subiu:,.2f}")
print(f"Media de quem desceu\tR$ {media_desceu:,.2f}")

Maior	R$ 4,762,926,995.25
Menor	R$ -1,807,432,634.46
Média	R$ 161,919,681.05
Média de quem subiu	R$ 448,164,250.23
Media de quem desceu	R$ -178,939,254.55

Após isso criamos um DataFrame que possui somente os valores que subiram

In [165]:
df_principal_subiu = df_principal[df_principal['Resultado'] == 'Subiu']
df_principal_subiu

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade,Cat_idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,59,Entre 100 e 50
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,77,Entre 100 e 50
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,68,Entre 100 e 50
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,96,Entre 100 e 50
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,109,Mais de 100
5,PRIO3,2024-01-26,45.69,1.98,0.02,44.80,800010734,709687498.18,Subiu,PetroRio,Petróleo,9,Menos de 50
6,PETR4,2024-01-26,39.96,1.73,0.02,39.28,-2147483648,3103136291.22,Subiu,Petrobras,Petróleo e Gás,68,Entre 100 e 50
7,VALE3,2024-01-26,69.50,1.66,0.02,68.37,-2147483648,4762926995.25,Subiu,Vale,Mineração,79,Entre 100 e 50
8,MULT3,2024-01-26,28.19,1.58,0.02,27.75,268505432,117732680.08,Subiu,Multiplan,Shopping Centers,47,Menos de 50
9,ITUB4,2024-01-26,32.81,1.48,0.01,32.33,-2147483648,2297591984.33,Subiu,Itaú Unibanco,Banco,13,Menos de 50
10,RDOR3,2024-01-26,27.56,1.43,0.01,27.17,1168230366,453917907.01,Subiu,Rede D'Or,Saúde,45,Menos de 50
11,BRKM5,2024-01-26,18.55,1.42,0.01,18.29,265877867,69054317.64,Subiu,Braskem,Química,18,Menos de 50
12,AZUL4,2024-01-26,14.27,1.42,0.01,14.07,327593725,65452205.55,Subiu,Azul,Transporte Aéreo,13,Menos de 50
13,RRRP3,2024-01-26,28.75,1.41,0.01,28.35,235665566,94204643.35,Subiu,3R Petroleum,Petróleo,6,Menos de 50
14,EQTL3,2024-01-26,35.32,1.34,0.01,34.85,1095587251,511671895.45,Subiu,Equatorial Energia,Energia,24,Menos de 50
15,CSNA3,2024-01-26,18.16,1.33,0.01,17.92,600865451,143220991.46,Subiu,Siderúrgica Nacional,Siderurgia,83,Entre 100 e 50
16,YDUQ3,2024-01-26,19.77,1.28,0.01,19.52,289347914,72295838.99,Subiu,YDUQS,Educação,60,Entre 100 e 50
17,UGPA3,2024-01-26,28.31,1.28,0.01,27.95,1086411192,388705223.96,Subiu,Ultrapar,Indústria,83,Entre 100 e 50
18,MRVE3,2024-01-26,8.08,1.25,0.01,7.98,376187582,37525872.38,Subiu,MRV,Construção Civil,42,Menos de 50
19,ARZZ3,2024-01-26,57.91,1.15,0.01,57.25,62305891,41021792.09,Subiu,Arezzo,Calçados,48,Menos de 50
20,BBDC4,2024-01-26,15.52,1.04,0.01,15.36,-2147483648,822148336.41,Subiu,Banco Bradesco,Banco,78,Entre 100 e 50
21,BEEF3,2024-01-26,7.19,0.98,0.01,7.12,261036182,18214628.10,Subiu,Minerva,Alimentos,28,Menos de 50
22,PCAR3,2024-01-26,4.14,0.97,0.01,4.10,159430826,6340916.22,Subiu,Grupo Pão de Açúcar,Varejo,72,Entre 100 e 50
23,BRFS3,2024-01-26,14.61,0.96,0.01,14.47,1677525446,233045769.57,Subiu,BRF,Alimentos,9,Menos de 50
24,VIVT3,2024-01-26,51.20,0.88,0.01,50.75,423091712,188965307.06,Subiu,Vivo,Telecomunicações,23,Menos de 50
25,RAIL3,2024-01-26,22.64,0.84,0.01,22.45,1218352541,229771333.63,Subiu,Rumo,Logística,7,Menos de 50
26,CIEL3,2024-01-26,4.90,0.82,0.01,4.86,1095462329,43657683.38,Subiu,Cielo,Serviços Financeiros,11,Menos de 50
27,DXCO3,2024-01-26,7.81,0.77,0.01,7.75,302768240,18068446.61,Subiu,Dexco,Energia,5,Menos de 50
28,TIMS3,2024-01-26,17.52,0.74,0.01,17.39,807896814,103972807.37,Subiu,TIM,Telecomunicações,24,Menos de 50
29,BRAP4,2024-01-26,23.22,0.73,0.01,23.05,251003438,42238249.54,Subiu,Bradespar,Holding,20,Menos de 50
30,LWSA3,2024-01-26,5.55,0.72,0.01,5.51,393173139,15598886.65,Subiu,Locaweb,Tecnologia,24,Menos de 50
31,RECV3,2024-01-26,23.83,0.71,0.01,23.66,275005663,46201006.00,Subiu,PetroRecôncavo,Petróleo,5,Menos de 50
32,ITSA4,2024-01-26,10.01,0.70,0.01,9.94,-2147483648,373853994.88,Subiu,Itaúsa,Holding,50,Entre 100 e 50
33,BBAS3,2024-01-26,56.97,0.68,0.01,56.59,1420949112,546752087.99,Subiu,Banco do Brasil,Banco,212,Mais de 100
34,RADL3,2024-01-26,26.16,0.61,0.01,26.00,1275798515,202352473.74,Subiu,RaiaDrogasil,Varejo,110,Mais de 100
35,GOAU4,2024-01-26,10.08,0.59,0.01,10.02,660411219,39045606.94,Subiu,Metalúrgica Gerdau,Siderurgia,120,Mais de 100
36,CSAN3,2024-01-26,18.57,0.59,0.01,18.46,1168097881,127229653.18,Subiu,Cosan,Energia,85,Entre 100 e 50
37,JBSS3,2024-01-26,24.34,0.57,0.01,24.20,1134986472,156573285.43,Subiu,JBS,Alimentos,68,Entre 100 e 50
38,MGLU3,2024-01-26,2.08,0.48,0.00,2.07,-2147483648,28493619.27,Subiu,Magazine Luiza,Varejo,64,Entre 100 e 50
39,BBDC3,2024-01-26,13.75,0.36,0.00,13.70,1500728902,74019610.05,Subiu,Banco Bradesco,Banco,78,Entre 100 e 50
40,GGBR4,2024-01-26,21.84,0.27,0.00,21.78,1118525506,65779607.10,Subiu,Gerdau,Siderurgia,120,Mais de 100
41,RAIZ4,2024-01-26,3.74,0.26,0.00,3.73,1193047233,11571106.42,Subiu,Raízen,Energia,9,Menos de 50
42,CPLE6,2024-01-26,10.07,0.19,0.00,10.05,1679335290,32069789.50,Subiu,Copel,Energia,65,Entre 100 e 50
43,VAMO3,2024-01-26,8.18,0.12,0.00,8.17,421383330,4131341.16,Subiu,Grupo Vamos,Logística,35,Menos de 50

Continuamos criando um DataFrame que possui os valores de variação organizados por segmento

Para isso usamos a função groupby que recebeu como parametro a coluna que queriamos organizada, mas essa função retorna um vetor, portanto usamos a função .reset_index() para retornarmos para um DataFrame

In [166]:
df_analise_segmento = df_principal[df_principal['Resultado'] == 'Subiu'].groupby('Segmento')['Variacao_rs'].mean().reset_index()
df_analise_segmento

                Segmento   Variacao_rs
0              Alimentos  135944561.03
1                  Banco  935128004.70
2               Calçados   41021792.09
3       Construção Civil   37525872.38
4               Educação   72295838.99
5                Energia  139864141.04
6                Holding  208046122.21
7              Indústria  388705223.96
8              Logística  116951337.40
9              Mineração 2470221482.78
10      Papel e Celulose  722946282.71
11              Petróleo  283364382.51
12        Petróleo e Gás 2621597842.37
13               Química   69054317.64
14                 Saúde  453917907.01
15  Serviços Financeiros   43657683.38
16      Shopping Centers  117732680.08
17            Siderurgia  122483982.73
18            Tecnologia   15598886.65
19      Telecomunicações  146469057.21
20      Transporte Aéreo   65452205.55
21                Varejo   79062336.41

Continuamos criando um DataFrame para se ter uma análise da média dos resultados

In [167]:
df_analise_saldo = df_principal.groupby('Resultado')['Variacao_rs'].mean().reset_index()
df_analise_saldo

  Resultado   Variacao_rs
0    Desceu -178939254.55
1   Estável          0.00
2     Subiu  448164250.23

## Criando Gráficos

Para podermos criar os gráficos utilizamos a biblioteca plotly.express por isso devemos importa-la junto com o pandas

Para fazermos um gráfico do DataFrame analise de saldo criamos uma variável chamada fig de figura, e atribuimos a ela a função **px.bar** que cria um gráfico de barras, e que recebe como atributos o DataFrame que será utilizado, qual coluna estará no eixo x e aul estará no eixo y, quais valores estarão escritos nas barras e um titulo o gráfico.

In [169]:
fig = px.bar(df_analise_saldo, x= 'Resultado', y='Variacao_rs', text='Variacao_rs', title='Variação Reais por resultado')
fig.show()